{{!-- //Signup for - always method=POST - action=/signup - name attribute for the DB - Submit button --}}
<form method="POST" action="/signup">
  <label>Name</label>
  <input type="text" name="name" placeholder="Name"  >
  <br>
  <label>Location</label>
  <input type="text" name="location" placeholder="Enter your location"  >
   <br>
  <label>Email</label>
  <input type="email" name="email" placeholder="Enter your email"  >
   <br>
  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password"  >
   <br>
  <label>Confirm your password</label>
  <input type="password" name="confirmpassword" placeholder="Confirm your password"  >
  <br>
  <button type="submit" >Sign Up</button>
</form>

{{#if message}}
  <div class="error">{{message}}</div>
{{/if}}