{{!-- //Signup for - always method=POST - action=/signup - name attribute for the DB - Submit button --}}

<h1>Sign up</h1>
<form method="POST" action="/signup">
  <div class="field">
    <label>Name</label>
    <div class="input"><input type="text" name="name" placeholder="Name" value="{{request.name}}" ></div>
  </div>

  <div class="field">
    <label>Location</label>
    <div class="input"><input type="text" name="location" placeholder="Enter your location"  value="{{request.location}}" ></div>
  </div>

  <div class="field">
    <label>Email</label>
    <div class="input"><input type="email" name="email" placeholder="Enter your email"  value="{{request.email}}" ></div>
  </div>

  <div class="field">
    <label>Password</label>
    <div class="input"><input type="password" name="password" placeholder="Enter your Password"  ></div>
  </div>

  <div class="field">
    <label>Confirm your password</label>
    <div class="input"><input type="password" name="confirmpassword" placeholder="Confirm your password"  ></div>
  </div>

  <button type="submit" >Sign Up</button>
</form>

{{#if message}}
  <div class="error">{{message}}</div>
{{/if}}