<header>
    <figure><a href="/"><img id= logo src="/images/logo3.png" /></a></figure>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/signup">SignUp</a>
      <a href="/signin">SignIn</a>
    </nav>
  </header>