<header>
  <figure><a href="/"><img id=logo src="/images/logo3.png" /></a></figure>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a href="/about">About</a>
    <a href="/events">Events</a>
    <a href="/create-event">Create event</a>
    <a href="/profile">Profile</a>
    <a href="/messages">Messages</a>
    <a href="/logout">LogOut</a>
  </nav>
</header>