<form method="POST" action="/profiles/edit/password">
  <label>Old password</label>
  <input type="password" name="password" placeholder="Enter your password">
  <br>
  <label>New password</label>
  <input type="password" name="newPassword" placeholder="Enter new password">
  <br>
  <label>Confirm your password</label>
  <input type="password" name="confirmPassword" placeholder="Confirm your new password">
  <br>
  <button type="submit">Change password</button>
</form>

{{#if message}}
  <div class="error">{{message}}</div>
{{/if}}