<h1>About MeetPup</h1>

<p>MeetPup was founded in 2020 by three pup-passionate Ironhackers .</p>
<p>The purpose of MeetPup is to provide opportunities for dogs and their owners to meet new friends and attend activities they would not do by themselves.</p>
