<h1>About MeetPup</h1>

<p>MeetPup was founded in 2020 by 3 Ironhackers passionated by pups.</p>
<p>The purpose of MeetPup is to provide opportunities for dogs and their owners to meet new friends and attend activities they would not do by themselve.</p>
