{{!-- //Signup for - always method=POST - action=/signup - name attribute for the DB - Submit button --}}
<form method="POST" action="/create-event">

  <div class="field">
    <label>Title</label>
    <div class="input"><input type="text" name="title" placeholder="Title of event"  ></div>
  </div>

  <div class="field">
    <label>Location</label>
    <div class="input"><input type="text" name="location" placeholder="Enter your location"  ></div>
  </div>

  <div class="field">
    <label>Date</label>
    <div class="input"><input type="date" name="date"  ></div>
  </div>

  <div class="field">
    <label>Type</label>
    <div class="input">    <select name="type">
      <option>Active</option>
      <option>Training</option>
      <option>Relaxed meetup</option>
      <option>Socialization</option>
    </select></div>
  </div>

  <button type="submit" >Create event</button>
</form>

{{#if message}}
  <div class="error">{{message}}</div>
{{/if}}