<h1>PET PROFILE</h1>
<h1>{{ petProfileData.name }}</h1>

{{!-- //Signup for - always method=POST - action=/signup - name attribute for the DB - Submit button --}}

<a class="button" href="/petprofile/{{petProfileData.id}}/edit">Edit</a>

  Name  {{petProfileData.name}}
  Birth year {{petProfileData.birthYear}}

